"*":
  autosave:
    enabled: true
  "color-picker":
    abbreviateValues: true
    automaticReplace: true
    preferredFormat: "HEX"
  core:
    projectHome: "/var/www"
    restorePreviousWindowsOnStart: "always"
    telemetryConsent: "no"
  editor:
    fontFamily: "Ubuntu"
    showIndentGuide: true
  "exception-reporting":
    userId: "40193699-514a-4229-a88b-16ee1c2a0311"
  "git-plus":
    commits:
      verboseCommits: true
  "linter-ui-default": {}
  welcome:
    showOnStartup: false
